<div class="container">
  <h1>Quizzes</h1>
  <div id="quizzes"></div>

  <div id="current-question"></div>

  <script type="text/template" id="quizzes-template">
    <%% _.each(quizzes, function(quiz) { %>
      <div>
        <a class="next_question" href="#/quizzes/<%%= quiz.get('id') %>/questions/next"><%%= quiz.get('name') %></a>
        <span><%%= quiz.get('id') %></span>
        <span><%%= quiz.get('name') %></span>
      </div>
    <%% }); %>
  </script>

  <script type="text/template" id="question-template">
    <form action="post" id="question-form">
      <input id="question-id" type="hidden" value="<%%= question.id %>">
      <h2><strong><%%= question.question %></strong></h2>

      <%% _.each(question.choices, function(choice) { %>
        <input type="radio" name="choice_id" value="<%%= choice.id %>"><%%= choice.choice %><br />
      <%% }); %>
      <input type="submit" value="Answer">
    </form>
  </script>
</div>
