<div class="container">
  <ul id="quizzes"></ul>

  <script type="text/html" id="quiz-template">
    <a href="#/quizzes/<%%= quiz.get('id') %>"><%%= quiz.get('name') %></a>
    <span><%%= quiz.get('id') %></span>
    <span><%%= quiz.get('name') %></span>
  </script>
</div>
